Trabajar con tipos de datos numéricos y de string

Strings y números en pandas

Cuando pandas lee datos de un archivo de texto, automáticamente convierte los datos sin procesar al tipo de datos pandas.

Por lo general, la conversión es directa: una columna que contenga solo números en tu CSV o Excel se leerá en automático como un tipo de datos float o int. Si una columna solo contiene palabras, se lee como un tipo de datos object. Pandas utiliza este tipo de datos para datos string, así como también cuando una columna contiene una mezcla de tipo de datos entre sus valores.

A veces, pandas no puede inferir el tipo de datos correcto. Cuando esto pasa, necesitamos intervenir y convertir por nuestra cuenta los valores al tipo correcto.

Otras veces, pandas hará exactamente aquello para lo que fue diseñado, pero eso podría no ser lo que queremos.

En esta lección, aprenderás a lidiar con estas situaciones.

Convertir a un tipo de datos específico
El método astype() de pandas te permite moldear (o convertir) tipos de datos.

Al igual que con otros métodos de pandas, existe para DataFrames y Series.

Vamos a ilustrar cómo funciona usando un par de ejemplos con juguetes.

Abajo, vamos a crear un DataFrame sencillo de dos columnas a partir de un diccionario de Python. Las claves del diccionario se usarán como nombres de columna en el DataFrame. Luego, mostraremos la información sobre los tipos de datos de las columnas:

In [ ]:
import pandas as pd

d = {'col1': [1.0, 2.0], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

print(df)
print()
print('Output of df.info():')
df.info()

   col1  col2
0   1.0     3
1   2.0     4

Output of df.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    2 non-null      float64
 1   col2    2 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 164.0 bytes

Ahora, usemos el método astype() para convertir todos los valores en strings y mostrar el DataFrame.

Al usarlo, debes especificar entre paréntesis el tipo de datos al cual deseas convertirlo. Por ejemplo, df['column'] = df['column'].astype('int') convertiría la columna 'column' al tipo de datos entero.

Ten en cuenta que no todos los tipos de datos se pueden convertir entre sí usando astype().  Cualquier operación de conversión que pudiese alterar significativamente los datos originales debe hacerse con cuidado.

In [3]:
import pandas as pd

d = {'col1': [1.0, 2.0], 'col2': [3, 4]}
df = pd.DataFrame(data=d)

df_str_dtype = df.astype('str')
print(df_str_dtype)
print()
print(df_str_dtype.info())

  col1 col2
0  1.0    3
1  2.0    4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    2 non-null      object
 1   col2    2 non-null      object
dtypes: object(2)
memory usage: 164.0+ bytes
None

Podemos ver que, aunque no ha cambiado lo que muestra el DataFrame, ¡sí cambió la información sobre los tipos de datos!

También podemos usar el método astype() en columnas individuales (p. ej., objetos tipo Series). Hagamos que 'col1' sea del tipo de datos int en vez de float.

In [8]:
df['col1'] = df['col1'].astype('int')
print(df)

   col1  col2
0     1     3
1     2     4

Esta vez, en lugar del método info(), echemos un vistazo al atributo dtypes. ¿Lo recuerdas?

Las columnas en un DataFrame pueden tener diferentes tipos de datos, o dtypes.

In [7]:
print(df.dtypes)

col1    int32
col2    int64
dtype: object

Así como así, hemos cambiado con éxito el tipo de datos de una sola columna. Fíjate que el 64 en int64 se refiere al tamaño de bits de los enteros en la memoria de la computadora. También puedes ver otros tipos de enteros como int32, int16 y otros. Básicamente, el tipo de 64 puede contener muchos más dígitos que los de menos bits, pero todos se comportan de forma idéntica a los tipos de datos int.

Cuidado con los problemas inesperados

Digamos que cargas un conjunto de datos y parece que todos los valores flotantes en una columna en realidad deben ser enteros, pero hay demasiados para analizarlos manualmente. ¿Cómo sabes que es seguro hacer la conversión de float a int o si perderás algo de información tras hacerlo?

Para ilustrar esto, mira el siguiente ejemplo.

In [9]:
import pandas as pd

d = {'col1': [1.0, 2.0, 3.0, 4.0], 'col2': [5.0, 6.01, 7.0, 8.0]}
df = pd.DataFrame(data=d)

print(df)

   col1  col2
0   1.0  5.00
1   2.0  6.01
2   3.0  7.00
3   4.0  8.00

Si no tienes cuidado, ejecutarás df.astype('int') (que cambiará 6.01 a 6) sin darte cuenta de que acabas de cambiar los valores de tu conjunto de datos.

Vamos a usar una nueva librería que nos ayude a lidiar con estos casos.

NumPy es una poderosa librería de Python usada para computación científica. Esta introduce una nueva estructura de datos llamada array, que es parecido a una lista, pero con muchas ventajas, incluyendo la habilidad para realizar operaciones vectorizadas en arrays enteros muy rápidamente. NumPy también nos proporciona funciones matemáticas y herramientas que nos son útiles para trabajar con arrays, tales como ordenar, indexar y transmitir.

Cuando estás tratando con cientos o miles (¡o más!) valores, puedes recurrir a la ayuda de la función array_equal() de la librería numpy. Esta función acepta dos arrays y devuelve True si ambos tienen los mismos elementos y la misma forma, y False si es el caso contrario. Vamos a probarla con 'col1':

In [10]:
import numpy as np
import pandas as pd

d = {'col1': [1.0, 2.0, 3.0, 4.0], 'col2': [5.0, 6.01, 7.0, 8.0]}
df = pd.DataFrame(data=d)

# comprueba si es seguro convertir 'col1'
np.array_equal(df['col1'], df['col1'].astype('int'))

True

¡Excelente! No hubo ningún problema. Ahora prueba con 'col2':

In [11]:
import numpy as np
import pandas as pd

d = {'col1': [1.0, 2.0, 3.0, 4.0], 'col2': [5.0, 6.01, 7.0, 8.0]}
df = pd.DataFrame(data=d)

# comprueba si es seguro convertir 'col1'
np.array_equal(df['col2'], df['col2'].astype('int'))

False

Ahora sabemos que no podemos convertir 'col2' de float a int sin perder algunos de los datos.

Hay otros ejemplos de posibles problemas al considerar la conversión de tipos de datos, pero el meollo del asunto es:

Ten cuidado al convertir entre tipos de datos, y evalúa si la operación de conversión podría llevar a cambios significativos en tus datos.

Convertir strings a valores numéricos

A veces queremos conservar los valores del string que parecen números como tipos de datos string. Los códigos postales o los ID numéricos son ejemplos comunes: son números, pero no tiene sentido realizar operaciones aritméticas con ellos.

Sin embargo, read_csv() siempre leerá todo lo que parezca un entero como un tipo de datos int, incluso si quieres usarlos como strings.

Otras veces, pasa lo contrario: pandas confunde los valores numéricos con strings y necesitamos intervenir un poco para hacer la conversión.

En los casos más sencillos, el método astype() funciona de maravilla. A continuación, te mostramos cómo convertir strings que representan enteros en enteros reales:

In [12]:
import pandas as pd

d = {'col1': ['1.0', '2.0'], 'col2': ['3', '4']}
df = pd.DataFrame(data=d)

# convertir col2 a int
df['col2'] = df['col2'].astype('int')
print(df.dtypes)

col1    object
col2     int32
dtype: object

En otros casos, no se puede convertir los strings en números de esta forma. Mira lo que sucede cuando intentamos convertir strings que representan valores flotantes en enteros:

In [13]:
import pandas as pd

d = {'col1': ['1.0', '2.0'], 'col2': ['3', '4']}
df = pd.DataFrame(data=d)

# convertir col1 da como resultado un error
df['col1'] = df['col1'].astype('int')

ValueError: invalid literal for int() with base 10: '1.0'

Para solventar este problema, usaremos un método más flexible llamado to_numeric():

In [14]:
import pandas as pd

d = {'col1': ['1.0', '2.0'], 'col2': ['3', '4']}
df = pd.DataFrame(data=d)

df['col2'] = df['col2'].astype('int')
df['col1'] = pd.to_numeric(df['col1'])
print(df.dtypes)

col1    float64
col2      int32
dtype: object

Funciona muy bien si tienes strings similares a números como '72' o '1.394'. No obstante, de forma predeterminada, to_numeric() no puede convertir strings con caracteres no numéricos o decimales en números. En cambio, devuelve un error.

Aunque hay una buena noticia: ¡to_numeric() tiene un parámetro errors=! El valor de este parámetro determina qué hará to_numeric() si encuentra un valor no válido:

- errors='raise': argumento predeterminado por el cual los valores inválidos generan errores, bloqueando la conversión a números para toda la columna.
- errors='coerce': los valores inválidos se reemplazan por NaN.
- errors='ignore': los valores inválidos simplemente se ignoran y se dejan sin cambios.

Así es como se ve:

In [15]:
import pandas as pd

d = {'col1': ['1.0', 'B.0'], 'col2': ['3', '4']}
df = pd.DataFrame(data=d)

df['col2'] = df['col2'].astype('int')
df['col1'] = pd.to_numeric(df['col1'], errors='coerce')

print(df.dtypes)
print(df)

col1    float64
col2      int32
dtype: object
   col1  col2
0   1.0     3
1   NaN     4

Resumen

Usa astype() para convertir un tipo de datos en otro.

- No todos los tipos de datos se pueden convertir entre sí usando astype(); algunas conversiones (como strings tipo float a enteros) podrían arrojar un error.

- Ten cuidado cuando hagas conversiones que pudieran alterar significativamente los datos originales.

- Al convertir los strings en números, el método to_numeric() podría ser mejor opción gracias a la flexibilidad que le brinda el parámetro errors=.

1.

Usa numpy para comprobar si no hay problema con convertir la columna 'Quantity' de float a int sin modificar los valores. Muestra la expresión que evalúa si es True o False.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/datasets/OnlineRetail.csv')

can_convert = np.array_equal(df['Quantity'], df['Quantity'].astype('int'))# escribe tu código aquí

print(can_convert)

#True

2.

Ahora realiza la operación de conversión utilizando el método astype(). Convierte la columna 'Quantity' de float a int, después verifica los resultados llamando el método info() en el DataFrame.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('/datasets/OnlineRetail.csv')

df['Quantity'] = df['Quantity'].astype('int')# escribe tu código aquí
df.info()# escribe tu código aquí

"""<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    50000 non-null  object
 1   StockCode    50000 non-null  object
 2   Description  49857 non-null  object
 3   Quantity     50000 non-null  int64
 4   InvoiceDate  50000 non-null  object
 5   UnitPrice    50000 non-null  object
 6   CustomerID   31599 non-null  float64
 7   Country      50000 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.1+ MB"""

3.

- Convierte la columna 'UnitPrice' de object a float

 a. Usa la función to_numeric().

 b. Usa el parámetro errors= que remplaza valores inválidos con NaN.

- Verifica los resultados llamando al método info() en el DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('/datasets/OnlineRetail.csv')

df['UnitPrice'] = pd.to_numeric(df["UnitPrice"], errors='coerce')
# escribe tu código aquí
df.info()# escribe tu código aquí

"""<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    50000 non-null  object
 1   StockCode    50000 non-null  object
 2   Description  49857 non-null  object
 3   Quantity     50000 non-null  float64
 4   InvoiceDate  50000 non-null  object
 5   UnitPrice    49985 non-null  float64
 6   CustomerID   31599 non-null  float64
 7   Country      50000 non-null  object
dtypes: float64(3), object(5)
memory usage: 3.1+ MB"""